@model EarthMarket.Presentation.Models.ViewModels.AuthenticationCheckViewModel
@{
    ViewBag.Title = "Authentication links";

}



   
    @if (Model.User == null)
    {
    <li>
        @Html.ActionLink("Sign Up", "Register", "Authentication", null)
    </li>
    <li>
        @Html.ActionLink("Log In", "Login", "Authentication", null)
    </li>

            }
            else
            {
    <li>
        @Html.ActionLink("Log Out", "Logout", "Authentication", null)
    </li>
            }

  
