@model EarthMarket.Presentation.Models.ViewModels.ProductListViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Products List</h2>
<div>
    @foreach (var product in Model.Products)
    {
        @Html.RouteLink(product.Name, new { Controller = "Product", Action = "GetProduct", productKey = product.Key })
    }
</div>


