@model EarthMarket.Presentation.Models.ViewModels.SearchBoxContentViewModel

<form class=" form-inline" action="../SearchBox/Search" method="post">
        @Html.TextBoxFor(sbv => sbv.SearchedText, new { @class = "form-control mr-sm-2", Type = "search" })
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>


