@model EarthMarket.Presentation.Models.ViewModels.SearchedProductsListViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<br>
<br>
<br>
<br>

<h2>Searched Products</h2>

@if (Model.Products == null || (Model.Products != null && Model.Products.Count() == 0))
{
    <h2>No products match the search criteria</h2>
}
else
{
    <div>
        @foreach (var product in Model.Products)
        {
            @Html.RouteLink(product.Name, new { Controller = "Product", Action = "GetProduct", productKey = product.Key })
        }
    </div>

}

