@model EarthMarket.Presentation.Models.ViewModels.HomePageCategoriesWithProductsListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.UserDto != null)
{
    <h2>Hi, @Model.UserDto.Name</h2>
}

    <div class="row">
        @foreach (var category in Model.HomePageCategoriesWithProducts)
        {

            <h3>@category.Name</h3>
            <div class=" row">


                @foreach (var categoryProduct in category.Products)
                {
                       
                    @Html.Action("GetSingleProductCard", "Product", new { productKey= categoryProduct.Key });
                }

            </div>
        }
    </div>

