@model EarthMarket.Presentation.Models.ViewModels.CategoryListViewModel


<div>
    @foreach (var category in Model.Categories)
    {
        @Html.RouteLink(category.Name, new { Controller = "Product", Action = "List", category = category.Name })
    }
</div>