@model EarthMarket.Presentation.Models.ViewModels.CategoryListViewModel


<div>
    <h3>Categories</h3>
    <ul class="nav nav-pills nav-stacked">
        @foreach (var category in Model.Categories)
        {
            <li> @Html.RouteLink(category.Name, new { Controller = "Product", Action = "List", category = category.Name })</li>
        }
    </ul>
</div>