
@{
    ViewBag.Title = "AuthenticationError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AuthenticationError</h2>

<h4>!!!! You are not Logged In !!!!</h4>

<div>
    @Html.ActionLink("Sign Up", "Register", "Authentication",null, new { @class= "btn btn-warning" }) &nbsp;&nbsp;
    @Html.ActionLink("Log In", "Login", "Authentication",null, new { @class = "btn btn-success" })
</div>

