@model EarthMarket.Presentation.Models.ViewModels.AdminIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if(Model.User!=null && Model.User.UserRoles.Contains("admin")){
<div>You are admin!</div>
}
else{
<div>You are not admin!</div>
}