@model EarthMarket.Presentation.Models.ViewModels.AdminIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if(Model.User!=null && Model.User.UserRoles.Contains("admin")){
<h1>Heyaa !! You are admin!</h1>
}
else{
<h1>Oops !! You are not admin!</h1>
}