@model EarthMarket.Presentation.Models.ViewModels.MyOrdersListViewModel

@{
    ViewBag.Title = "GetMyOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Hi @Model.User.Name, Your Orders are:-</h2>
@foreach(var order in Model.Orders)
{
    @Html.Action("GetOrderDetailsCard","Order", new { order = order})
  
}

